{{ template "head.html" . }}

<div class="main">
  <h1><span>Permissions for Trello</span>, access control for your Trello boards and cards (finally)</h1>

  <p></p>

  <p></p>

  <p></p>

  <p></p>

  <h3></h3>
  
  <p></p>

  <p></p>

  <form>
    <h3>Get started with Permissions for Trello</h3>
    <a href="/auth">Authorize with Trello</a>
    <small>You'll be prompted to choose a board to enable Permissions on it.</small>
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3aa779dc568541fff0db9083b_8bc72d1302" tabindex="-1" value=""></div>
  </form>
  
  <a href="demo.jpg" title="See it larger..."><img src="demo.jpg" alt="Permissions for Trello demo screencast"></a>

  <p></p>
  
  <p></p>

  <p><strong><a href="">Install our Power-Up</a> | <a href="">Visit our Trello Board</a></strong></p>
</main>
